.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
/** .AXGrid **/
.AXGrid {
  position: relative;
}
.AXGrid table thead tr td,
.AXGrid table tbody tr td,
.AXGrid table tfoot tr td,
.AXGrid table thead tr th,
.AXGrid table tbody tr th,
.AXGrid table tfoot tr th {
  min-width: auto;
  min-height: auto;
}
.AXGrid .tdRelBlock {
  position: relative;
}
.AXGrid .AXgridScrollBody {
  position: relative;
  border: 1px solid #509274;
  overflow: hidden;
  background: #ffffff;
  /* 아이콘 보기 모드 */
}
.AXGrid .AXgridScrollBody div {
  box-sizing: content-box !important;
}
.AXGrid .AXgridScrollBody .AXGridColHead {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#e2e5e7, #ffffff);
  /* For Safari */
  background-image: -o-linear-gradient(#e2e5e7, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#e2e5e7, #ffffff);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#e2e5e7, #ffffff);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
  border-bottom: 1px solid #b1b1b1;
}
.AXGrid .AXgridScrollBody .fixedColHead {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable {
  table-layout: fixed;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#e2e5e7, #ffffff);
  /* For Safari */
  background-image: -o-linear-gradient(#e2e5e7, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#e2e5e7, #ffffff);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#e2e5e7, #ffffff);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-head-border.png') repeat-y 100% 0px;
  background-color:#8cc0ad ;
  color:#fff;
  vertical-align: bottom;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadResizer {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 5px;
  height: 20px;
  cursor: col-resize;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadResizer:active {
  background: #85b7a4;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTool {
  position: absolute;
  right: 1px;
  top: 0px;
  display: block;
  width: 20px;
  height: 30px;
  cursor: pointer;
  text-indent: -2000px;
  overflow: hidden;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTool.readyTool {
  background: url('images/dx-grid-head-tool.png') no-repeat -2px center;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTool.readyTool:hover {
  background: url('images/dx-grid-head-tool-on.png') no-repeat -2px center;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTdText {
  position: relative;
  line-height: 20px;
  padding: 5px 8px;
  color: #ffffff;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTdCheck {
  height: 20px;
  padding: 7px 1px 3px 0px;
  color: #ffffff;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTdCheck input {
  vertical-align: middle;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td .colHeadTdHtml {
  height: 30px;
  padding: 0px 1px 0px 0px;
  color: #ffffff;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.colHeadBottomBorder {
  border-bottom: 1px solid #509274;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td:hover {
  background-color: #85b7a4;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc {
  background-color: #85b7a4;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortDesc .colHeadNode {
  background: url('images/dx-sort-desc.png') no-repeat center 0px;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortAsc {
  background-color: #85b7a4;
}
.AXGrid .AXgridScrollBody .AXGridColHead .colHeadTable tbody tr td.sortAsc .colHeadNode {
  background: url('images/dx-sort-asc.png') no-repeat center 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  overflow: hidden;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridScrollContent {
  overflow: visible;
  position: relative;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedScrollContent {
  overflow: visible;
  position: absolute;
  left: 0px;
  top: 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable {
  width: 100%;
  table-layout: fixed;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody {
  /* for bigData */
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px #ffffec;
  vertical-align: bottom;
  border-bottom: 1px solid #cbdfd6;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.thpadding td {
  height: 0px;
  background: none;
  border-bottom: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.tfpadding td {
  height: 0px;
  background: none;
  border-bottom: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.noListTr td {
  vertical-align: middle;
  height: 100px;
  background: #f7f7f7;
  border-bottom: 1px solid #c8c8c8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.line0 td {
  background-color: #f7f7f7;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.line1 td {
  background-color: #ffffff;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.red td {
  background-color: #ffe8e8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.green td {
  background-color: #f7fdea;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.blue td {
  background-color: #eaf5fd;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.yellow td {
  background-color: #fefee9;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.white td {
  background-color: #ffffff;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.gray td {
  background-color: #f7f7f7;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.hover td {
  background-color: #f7f7f7;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr.selected td {
  background-color: #e5f2ee;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td.bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
  vertical-align: bottom;
  border-bottom: 1px solid #c8c8c8;
  background-color: #ffffec;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyBottomBorder,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyBottomBorder,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyBottomBorder {
  border-bottom: 1px solid #c8c8c8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyNullTd,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyNullTd,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyNode,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyNode,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyTdText {
  position: relative;
  line-height: 20px;
  min-height: 20px;
  padding: 5px 8px;
  color: #3b3b3b;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyTdHtml,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyTdHtml,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyTdHtml {
  padding: 0px 1px 0px 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyTdCheckBox,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyTdCheckBox,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyTdCheckBox {
  line-height: 20px;
  height: 20px;
  padding: 5px 1px 5px 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable thead tr td .bodyTdCheckBox label,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tbody tr td .bodyTdCheckBox label,
.AXGrid .AXgridScrollBody .AXGridBody .gridBodyTable tfoot tr td .bodyTdCheckBox label {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable {
  table-layout: fixed;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
  vertical-align: bottom;
  border-bottom: 1px solid #c8c8c8;
  background-color: #ffffec;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td {
  background-color: #ffffec;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td .bodyNode,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td .bodyNode,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td .bodyNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td .bodyTdText,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td .bodyTdText {
  position: relative;
  line-height: 20px;
  min-height: 20px;
  padding: 5px 8px;
  color: #3b3b3b;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td .bodyTdHtml,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td .bodyTdHtml,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td .bodyTdHtml {
  padding: 0px 1px 0px 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td .bodyTdCheckBox,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td .bodyTdCheckBox,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td .bodyTdCheckBox {
  line-height: 20px;
  height: 20px;
  padding: 5px 1px 5px 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td.bodyBottomBorder,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td.bodyBottomBorder,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td.bodyBottomBorder {
  border-bottom: 1px dashed #c8c8c8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td.bodyNullTd,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td.bodyNullTd,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td.bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable thead tr td.fixedLine,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td.fixedLine,
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tfoot tr td.fixedLine {
  background-image: url('images/dx-grid-fixed-body-border.png');
  background-repeat: repeat-y;
  background-position: 100% 0px;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody {
  /* for bigData */
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px #ffffec;
  vertical-align: bottom;
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.thpadding td {
  height: 0px;
  background: none;
  border-bottom: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.tfpadding td {
  height: 0px;
  background: none;
  border-bottom: none;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.noListTr td {
  vertical-align: middle;
  height: 100px;
  background: #edf4f1;
  border-bottom: 1px solid #c8c8c8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.line0 td {
  background-color: #eaedef;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.line1 td {
  background-color: #f7f8f9;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.red td {
  background-color: #ffe8e8;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.green td {
  background-color: #f7fdea;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.blue td {
  background-color: #eaf5fd;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.yellow td {
  background-color: #fefee9;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.white td {
  background-color: #ffffff;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.gray td {
  background-color: #f7f7f7;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.selected td {
  background-color: #d2d9df;
}
.AXGrid .AXgridScrollBody .AXGridBody .gridFixedBodyTable tbody tr.hover td {
  background-color: #d7dde3;
}
.AXGrid .AXgridScrollBody .AXGridBody tbody tr.selected td.selected {
  background-color: #d6e8e0;
}
.AXGrid .AXgridScrollBody .AXGridFoot {
  left: 0px;
  bottom: 0px;
  position: absolute;
  min-height: 30px;
  display: none;
  background-color: #FFFFEC;
  border-top: 1px solid #b1b1b1;
  border-left: 0px none;
  border-right: 0px none;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootContent {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootfixedContent {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  background-color: #FFFFEC;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable {
  table-layout: fixed;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
  vertical-align: top;
  border-bottom: 1px solid #c8c8c8;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td.fixedLine {
  background: url('images/dx-grid-fixed-body-border.png') repeat-y 100% 0px;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td.selected {
  background-color: #D2D9DF;
  box-shadow: inset 0px 0px 0px #000;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr:last-child td {
  border-bottom: none;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr.noListTr td {
  vertical-align: middle;
  height: 100px;
  background: #f7f7f7;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr.line0 td {
  background-color: #eaedef;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr.line1 td {
  background-color: #f7f8f9;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr.selected td {
  background-color: #bdccd7;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr.hover td {
  background-color: #d7dde3;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td.bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td .bodyNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td .bodyTdText {
  position: relative;
  line-height: 20px;
  min-height: 20px;
  padding: 5px 8px;
  color: #3b3b3b;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td .bodyTdHtml {
  padding: 0px 1px 0px 0px;
}
.AXGrid .AXgridScrollBody .AXGridFoot .gridFootTable tbody tr td .bodyTdCheckBox {
  line-height: 20px;
  height: 20px;
  padding: 5px 1px 5px 0px;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon {
  float: left;
  position: relative;
  border: 1px solid #cccccc;
  margin: 5px 0px 0px 5px;
  box-shadow: 0px 0px 3px #ccc;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon .gridViewIconThumbnail {
  position: absolute;
  border: 1px solid #eeeeee;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon .gridViewIconLabel {
  position: absolute;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon .gridViewIconDescription {
  position: absolute;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon .gridViewIconbuttons {
  position: absolute;
  padding: 0px;
  margin: 0px;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon:hover {
  background-color: #e7f1fa;
}
.AXGrid .AXgridScrollBody .gridBodyDiv .viewIcon.selected {
  background-color: #d2d9df;
}
.AXGrid .AXgridPageBody {
  position: relative;
  height: 30px;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
  /* For Safari */
  background-image: -o-linear-gradient(#ffffff, #f3f3f3);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#ffffff, #f3f3f3);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3);
  /*For IE7-8-9*/
  border-bottom: 1px solid #b1b1b1;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 29px;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
  /* For Safari */
  background-image: -o-linear-gradient(#ffffff, #f3f3f3);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#ffffff, #f3f3f3);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f3f3f3);
  /*For IE7-8-9*/
  z-index: 3;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPageNumber {
  box-sizing: content-box;
  display: table-cell;
  float: left;
  padding: 4px 0px 0px 4px;
  height: 24px;
  font-size: 12px;
  color: #666666;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPageNo {
  box-sizing: content-box;
  border: 0px none;
  height: 21px;
  padding: 0px 2px;
  margin: 0px;
  outline: none;
  vertical-align: top;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXanchorSelect .selectedTextBox {
  box-shadow: inset 0px 1px 1px #e9eced;
  background: #ffffff;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPageNumberCount {
  box-sizing: content-box;
  display: block;
  float: left;
  padding: 4px 10px 4px 5px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #666666;
  border-right: 1px solid #b1b1b1;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPagingPrev {
  box-sizing: content-box;
  display: block;
  float: left;
  width: 29px;
  height: 30px;
  border-right: 1px solid #b1b1b1;
  background: url('images/dx-left-arrows.png') no-repeat;
  text-indent: -1000px;
  overflow: hidden;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPagingPrev:hover {
  background: url('images/dx-left-arrows.png') no-repeat 0px -30px;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPagingNext {
  box-sizing: content-box;
  display: block;
  float: left;
  width: 29px;
  height: 30px;
  border-right: 1px solid #b1b1b1;
  background: url('images/dx-right-arrows.png') no-repeat;
  text-indent: -1000px;
  overflow: hidden;
}
.AXGrid .AXgridPageBody .AXgridPagingUnit .AXgridPagingNext:hover {
  background: url('images/dx-right-arrows.png') no-repeat 0px -30px;
}
.AXGrid .AXgridPageBody .AXgridStatus {
  box-sizing: content-box;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  font-size: 12px;
  color: #666666;
  z-index: 1;
}
.AXGrid .AXgridPageBody .AXgridStatus b {
  color: #f47820;
}
.AXGrid .AXgridPageBody .AXgridScroller {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 30px;
  width: 60px;
  z-index: 2;
}
.AXGrid .AXgridPageBody .AXgridScroller .AXgridScrollUp {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 29px;
  height: 30px;
  border-left: 1px solid #b1b1b1;
  background: url('img/dx-up-arrows.png') no-repeat;
  text-indent: -1000px;
  overflow: hidden;
}
.AXGrid .AXgridPageBody .AXgridScroller .AXgridScrollUp:hover {
  background: url('img/dx-up-arrows.png') no-repeat 0px -30px;
}
.AXGrid .AXgridPageBody .AXgridScroller .AXgridScrollDn {
  display: block;
  position: absolute;
  left: 30px;
  top: 0px;
  width: 29px;
  height: 30px;
  border-left: border;
  background: url('img/dx-down-arrows.png') no-repeat;
  text-indent: -1000px;
  overflow: hidden;
}
.AXGrid .AXgridPageBody .AXgridScroller .AXgridScrollDn:hover {
  background: url('img/dx-down-arrows.png') no-repeat 0px -30px;
}
.AXGrid .AXgridEditor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60px;
}
.AXGrid .AXgridEditor .editorContent {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #d8e1e7;
  border-top: 1px solid #bdccd7;
  border-bottom: 1px solid #bdccd7;
}
.AXGrid .AXgridEditor .fixedEditorContent {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #d8e1e7;
  border-top: 1px solid #bdccd7;
  border-bottom: 1px solid #bdccd7;
}
.AXGrid .AXgridEditor .editorButtons {
  position: absolute;
  left: 10%;
  top: 19px;
  padding: 2px 5px 5px 5px;
  background: #d8e1e7;
  border-top: 1px solid #d8e1e7;
  border-left: 1px solid #bdccd7;
  border-right: 1px solid #bdccd7;
  border-bottom: 1px solid #bdccd7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.AXGrid .AXgridEditor .editorButtons.top {
  position: absolute;
  left: 10%;
  padding: 5px 5px 2px 5px;
  background: #d8e1e7;
  border-bottom: 1px solid #d8e1e7;
  border-left: 1px solid #bdccd7;
  border-right: 1px solid #bdccd7;
  border-top: 1px solid #bdccd7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.AXGrid .AXgridEditor .gridBodyTable {
  width: 100%;
  table-layout: fixed;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
  background-color: #d8e1e7 !important;
  vertical-align: top;
  border-bottom: 0px none;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr td.selected {
  background-color: #bdccd7;
  box-shadow: inset 0px 0px 2px #000;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr.noListTr td {
  vertical-align: middle;
  height: 100px;
  background: #f7f7f7;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr.line0 td {
  background-color: #f7f7f7;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr.line1 td {
  background-color: #ffffff;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr.selected td {
  background-color: #bdccd7;
}
.AXGrid .AXgridEditor .gridBodyTable tbody tr.hover td {
  background-color: #d7dde3;
}
.AXGrid .AXgridEditor .gridBodyTable thead tr td.bodyNullTd,
.AXGrid .AXgridEditor .gridBodyTable tbody tr td.bodyNullTd,
.AXGrid .AXgridEditor .gridBodyTable tfoot tr td.bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridEditor .gridBodyTable thead tr td .bodyNode,
.AXGrid .AXgridEditor .gridBodyTable tbody tr td .bodyNode,
.AXGrid .AXgridEditor .gridBodyTable tfoot tr td .bodyNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridEditor .gridBodyTable thead tr td .bodyTdText,
.AXGrid .AXgridEditor .gridBodyTable tbody tr td .bodyTdText,
.AXGrid .AXgridEditor .gridBodyTable tfoot tr td .bodyTdText {
  position: relative;
  line-height: 20px;
  min-height: 20px;
  padding: 5px 8px;
  color: #3b3b3b;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridEditor .gridBodyTable thead tr td .bodyTdHtml,
.AXGrid .AXgridEditor .gridBodyTable tbody tr td .bodyTdHtml,
.AXGrid .AXgridEditor .gridBodyTable tfoot tr td .bodyTdHtml {
  padding: 0px 1px 0px 0px;
}
.AXGrid .AXgridEditor .gridBodyTable thead tr td .bodyTdCheckBox,
.AXGrid .AXgridEditor .gridBodyTable tbody tr td .bodyTdCheckBox,
.AXGrid .AXgridEditor .gridBodyTable tfoot tr td .bodyTdCheckBox {
  line-height: 20px;
  height: 20px;
  padding: 5px 1px 5px 0px;
}
.AXGrid .AXgridEditor .gridFixedBodyTable {
  table-layout: fixed;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td {
  padding: 0px;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
  vertical-align: top;
  border-bottom: 0px none;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td.fixedLine {
  background: url('images/dx-grid-fixed-body-border.png') repeat-y 100% 0px;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td.selected {
  background-color: #D2D9DF;
  box-shadow: inset 0px 0px 2px #000;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr.noListTr td {
  vertical-align: middle;
  height: 100px;
  background: #f7f7f7;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr.line0 td {
  background-color: #eaedef;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr.line1 td {
  background-color: #f7f8f9;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr.selected td {
  background-color: #bdccd7;
}
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr.hover td {
  background-color: #d7dde3;
}
.AXGrid .AXgridEditor .gridFixedBodyTable thead tr td.bodyNullTd,
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td.bodyNullTd,
.AXGrid .AXgridEditor .gridFixedBodyTable tfoot tr td.bodyNullTd {
  background-image: none;
}
.AXGrid .AXgridEditor .gridFixedBodyTable thead tr td .bodyNode,
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td .bodyNode,
.AXGrid .AXgridEditor .gridFixedBodyTable tfoot tr td .bodyNode {
  position: relative;
  padding: 0px;
}
.AXGrid .AXgridEditor .gridFixedBodyTable thead tr td .bodyTdText,
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td .bodyTdText,
.AXGrid .AXgridEditor .gridFixedBodyTable tfoot tr td .bodyTdText {
  position: relative;
  line-height: 20px;
  min-height: 20px;
  padding: 5px 8px;
  color: #3b3b3b;
  text-shadow: 0px 0px 0px #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid .AXgridEditor .gridFixedBodyTable thead tr td .bodyTdHtml,
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td .bodyTdHtml,
.AXGrid .AXgridEditor .gridFixedBodyTable tfoot tr td .bodyTdHtml {
  padding: 0px 1px 0px 0px;
}
.AXGrid .AXgridEditor .gridFixedBodyTable thead tr td .bodyTdCheckBox,
.AXGrid .AXgridEditor .gridFixedBodyTable tbody tr td .bodyTdCheckBox,
.AXGrid .AXgridEditor .gridFixedBodyTable tfoot tr td .bodyTdCheckBox {
  line-height: 20px;
  height: 20px;
  padding: 5px 1px 5px 0px;
}
/* AXGridColGroupListBox */
.AXGridColGroupListBox {
  z-index: 4999;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 146px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}
.AXGridColGroupListBox .AXGridColGroupListBoxItem {
  display: block;
  line-height: 15px;
  padding: 5px 5px 5px 25px;
  color: #5e5e5e;
  text-decoration: none;
  border-bottom: 1px solid #e3e3e3;
  font-size: 12px;
}
.AXGridColGroupListBox .AXGridColGroupListBoxItem.last {
  border-bottom: 0px none;
}
.AXGridColGroupListBox .AXGridColGroupListBoxItem.on {
  color: #7b8590;
  background: url('images/dx-item-check.png') no-repeat 3px center;
}
.AXGrid.AXGridMobile .AXgridScrollBody {
  border: 0px none;
  overflow: visible;
  /* 모바일 뷰 용 목록 스타일 시트 클래스 */
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup {
  display: block;
  position: relative;
  height: 43px;
  /*background: @stop;*/
  background-image: -webkit-linear-gradient(#e2e5e7, #ffffff);
  /* For Safari */
  background-image: -o-linear-gradient(#e2e5e7, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#e2e5e7, #ffffff);
  /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#e2e5e7, #ffffff);
  /* Standard syntax */
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e5e7, endColorstr=#ffffff);
  /*For IE7-8-9*/
  border-bottom: 1px solid #b1b1b1;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup.top {
  border-top: 1px solid #b1b1b1;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .displayNone {
  display: none;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-config {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 43px;
  height: 43px;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  background: url(images/mx-grid-icon-config.png) no-repeat center center;
  background-size: 30px 30px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup {
  position: relative;
  display: block;
  width: 172px;
  height: 43px;
  margin: 0px auto;
  padding: 0px;
  box-sizing: content-box;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup .tool-prevPage {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 43px;
  height: 43px;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  background: url(images/mx-grid-icon-prev.png) no-repeat center center;
  background-size: 30px 30px;
  cursor: pointer;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup .tool-pageNo {
  padding: 0px 0px;
  width: 172px;
  height: 43px;
  background: url(images/mx-grid-icon-pageBg.png) no-repeat center center;
  background-size: contain;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup .tool-pageNo select {
  position: absolute;
  left: 43px;
  top: 6px;
  width: 86px;
  height: 30px;
  border: 0px none;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup .tool-pageNo span {
  display: block;
  width: 86px;
  box-sizing: content-box;
  padding: 6px 43px;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
  color: #6c6c6c;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-pageGroup .tool-nextPage {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 43px;
  height: 43px;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  background: url(images/mx-grid-icon-next.png) no-repeat center center;
  background-size: 30px 30px;
  cursor: pointer;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-gotoTop {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 43px;
  height: 43px;
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
  background: url(images/mx-grid-icon-down.png) no-repeat center center;
  background-size: 30px 30px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridToolGroup .tool-gotoBottom {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 43px;
  height: 43px;
  background: url(images/mx-grid-icon-up.png) no-repeat center center;
  background-size: 30px 30px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .AXGridBody {
  position: relative;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile {
  position: relative;
  border-bottom: 1px solid #b1b1b1;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 5px 5px;
  cursor: pointer;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.line0 {
  background: #edf4f1;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.line1 {
  background: #ffffff;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.red {
  background-color: #FFE8E8;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.green {
  background-color: #F7FDEA;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.blue {
  background-color: #EAF5FD;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.yellow {
  background-color: #FEFEE9;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.white {
  background-color: #fff;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.gray {
  background-color: #edf4f1;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.hover,
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile:hover {
  background-color: #d2d9df;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile.selected {
  background-color: #f3f3f3;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column {
  float: left;
  padding: 0px 0px;
  margin: 0px;
  border-box: content-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.underLine {
  border-bottom: 1px dashed #c8c8c8;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.col1 {
  width: 25%;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.col2 {
  width: 50%;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.col3 {
  width: 75%;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.col4 {
  width: 100%;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.colNone {
  border: 1px solid #e3e3e3;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
  margin: 5px 0px 0px 5px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.colNone .label {
  margin: 0px;
  padding: 5px;
  background: #ffffff;
  color: #3b3b3b;
  font-size: 11px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.colNone .content {
  margin: 0px;
  padding: 8px 10px 8px 0px;
  line-height: 12px;
  min-height: 12px;
  color: #5e5e5e;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column.colNone .content.solid {
  display: inline-block;
  padding: 8px 10px 8px 10px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column .label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0px 10px 5px;
  padding: 0px 4px;
  height: 20px;
  line-height: 20px;
  background: #b1b1b1;
  color: #fff;
  font-size: 11px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px 5px 5px 5px;
  -moz-border-radius: 4px 5px 5px 5px;
  border-radius: 4px 5px 5px 5px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column .content {
  display: inline;
  vertical-align: middle;
  margin: 10px 10px 10px 5px;
  padding: 4px 0px;
  line-height: 12px;
  min-height: 12px;
  color: #5e5e5e;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .column .content.solid {
  display: inline-block;
  padding: 3px 3px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .columnClear {
  clear: both;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .buttonGroup {
  position: absolute;
  right: 0px;
  top: 0px;
}
.AXGrid.AXGridMobile .AXgridScrollBody .gridBodyDiv .bodyViewMobile .buttonGroup .handle {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("images/mx-grid-icon-handle.png") no-repeat center center;
  background-size: 30px 30px;
}
.AXGrid .inline-editor {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 20px;
  padding: 5px 8px;
}
.AXGrid .inline-editor .inline_editor_input {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  font-family: inherit;
  font-size: inherit;
}
.AXGrid .inline-editor .inline_editor_input.finder {
  padding-right: 20px;
}
.AXGrid .inline-editor .inline_editor_select {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  border: 1px solid;
  font-family: inherit;
  font-size: inherit;
}
.AXGrid .inline-editor .inline-editor-checkbox {
  margin: 0px;
}
.AXGrid .inline-editor .finder-handle {
  position: absolute;
  right: 8px;
  top: 5px;
  font-family: 'axicon';
  text-align: center;
  width: 20px;
}
.AXGrid .inline-editor .finder-handle:before {
  content: "\f002";
}
.AXGrid .AXgridScrollBody .gridScrollTrackXY {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 9px;
  height: 9px;
  border: 1px solid #b6b6b6;
  background: url('images/dx-diagonal-bg.png');
  display: none;
}
.AXGrid .AXgridScrollBody .gridScrollTrackY {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 11px;
  height: 9px;
  background: #fff;
  border-left: 1px solid #b1b1b1;
  display: none;
}
.AXGrid .AXgridScrollBody .gridScrollTrackY .gridScrollHandle {
  position: absolute;
  left: 1px;
  top: 0px;
  width: 9px;
  height: 20px;
  background: #000;
  border: 0px none;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .gridScrollTrackY .gridScrollHandle:hover,
.AXGrid .AXgridScrollBody .gridScrollTrackY .gridScrollHandle.hover {
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.AXGrid .AXgridScrollBody .gridScrollTrackY .gridScroll-tip {
  display: none;
  font-size: 10px;
  position: absolute;
  right: 15px;
  top: 0px;
  padding: 5px;
  border: 1px solid #b1b1b1;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: #fff;
}
.AXGrid .AXgridScrollBody .gridScrollTrackX {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 9px;
  height: 11px;
  display: none;
  border-top: 1px solid #b1b1b1;
}
.AXGrid .AXgridScrollBody .gridScrollTrackX .gridScrollHandle {
  position: absolute;
  left: 0px;
  top: 1px;
  width: 20px;
  height: 9px;
  background: #000;
  border: 0px none;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.AXGrid .AXgridScrollBody .gridScrollTrackX .gridScrollHandle:hover,
.AXGrid .AXgridScrollBody .gridScrollTrackX .gridScrollHandle.hover {
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
