@charset "utf-8";
/* CSS Document */
/**공통**/
@import url(notosanskr.css);
 font-family: 'Noto Sans KR', sans-serif;
@import url(notosanskr.css);
/*  한국어 */
:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0
}
body, th, td, input, select, textarea, button {
	line-height: 1.5;
	font-size: 13px;
	/*font-family: '돋움', dotum, sans-serif, AppleGothic, sans-serif, 'NanumGothic', '나눔고딕';*/
	font-family: 'NotoSans', 'Arial', sans-serif;
	color: #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body {
	font-family: Noto Sans KR, sans-serif;
	font-weight: 300;
	color: #333;
}
:lang(ko) {
	font-family: Noto Sans KR, sans-serif;
}
}
body {
	height: 100%;
	overflow: hidden
}
a {
	color: #333;
	outline: none;
	text-decoration: none
}
a:active, a:hover {
	text-decoration: none
}
input {
	border: 1px solid #a3c7b4;
	
	line-height: 25px;
	outline: none;
	padding: 4px 5px;
	
}

select {
	border: 1px solid #a3c7b4;
	height: 25px;
	line-height: 25px;
	
}

input, select
{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius:3px;
}

select[type=text]:focus {
	border: 1px #509274 solid;
	color: #0b6b65;
}
select.disable, input.disable {
	background-color: #eee;
	color: #999;
	border: 1px solid #ddd;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	outline: none;
}
button {
	overflow: visible;outline: none;
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
.f_l {
	float: left
}
.f_r {
	float: right
}
.cl_b {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both
}
.center {
	text-align: center
}
.right {
	text-align: right
}
.m-t-10 {
	margin-top: 10px
}
.m-b-0 {
	margin-bottom: 0px
}
.m-b-5 {
	margin-bottom: 5px
}
.m-b-50 {
	margin-bottom: 50px
}
.m-r-10 {
	margin-right: 10px
}
.m-r-15 {
	margin-right: 15px
}
.m-r-5 {
	padding-right: 5px
}
.m-t-5 {
	padding-top: 5px
}
.of-y-auto {
	overflow-y: auto;
}
.of-y-scroll {
	overflow-y: scroll;
}
.input-xs{ width:136px}
.input-sm{ width:390px}
.input-md{ width:660px}
.input-lg{ width:940px}


/** 공통**/

/**버튼**/

.btn {
	display: inline-block;
	padding: 2px 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}
.btn img {
	vertical-align: middle;
	padding-bottom: 3px
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: none;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
	outline: none;
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
.btn-default {
	color: #fff;
	background-color: #36618e;
	border-color: #2a5685
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #2a5685;
	border-color: #235181
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #4981bc;
	border-color: #2b6bad;
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}
.btn-line {
	color: #024780;
	background-color: #fff;
	border-color: #4981bc;
	font-size: 12px;
	padding: 3px 15px;
	line-height: 14px;
}
.btn-line.active, .btn-line.focus, .btn-line:active, .btn-line:focus, .btn-line:hover, .open>.dropdown-toggle.btn-line {
	color: #fff;
	background-color: #2b6bad;
	border-color: #024780
}
.btn-line.active, .btn-line:active, .open>.dropdown-toggle.btn-line {
	background-image: none
}
.btn-line.disabled, .btn-line.disabled.active, .btn-line.disabled.focus, .btn-line.disabled:active, .btn-line.disabled:focus, .btn-line.disabled:hover, .btn-line[disabled], .btn-line[disabled].active, .btn-line[disabled].focus, .btn-line[disabled]:active, .btn-line[disabled]:focus, .btn-line[disabled]:hover, fieldset[disabled] .btn-line, fieldset[disabled] .btn-line.active, fieldset[disabled] .btn-line.focus, fieldset[disabled] .btn-line:active, fieldset[disabled] .btn-line:focus, fieldset[disabled] .btn-line:hover {
	background-color: #69c5bc;
	border-color: #55a9a5
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-image: none
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}
.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc;
	font-size: 12px
}
.btn-table.active, .btn-table.focus, .btn-table:active, .btn-table:focus, .btn-table:hover, .open>.dropdown-toggle.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc
}
.btn-table.active, .btn-table:active, .open>.dropdown-toggle.btn-table {
	background-image: none
}
.btn-table.disabled, .btn-table.disabled.active, .btn-table.disabled.focus, .btn-table.disabled:active, .btn-table.disabled:focus, .btn-table.disabled:hover, .btn-table[disabled], .btn-table[disabled].active, .btn-table[disabled].focus, .btn-table[disabled]:active, .btn-table[disabled]:focus, .btn-table[disabled]:hover, fieldset[disabled] .btn-table, fieldset[disabled] .btn-table.active, fieldset[disabled] .btn-table.focus, fieldset[disabled] .btn-table:active, fieldset[disabled] .btn-table:focus, fieldset[disabled] .btn-table:hover {
	background-color: #cbece7;
	border-color: #afe2d9
}
.btn-search {
	color: #fff;
	background-color: #358862;
	border-color: #297653
}
.btn-search.active, .btn-search.focus, .btn-search:active, .btn-search:focus, .btn-search:hover, .open>.dropdown-toggle.btn-search {
	color: #fff;
	background-color: #297653;
	border-color: #1d6b47
}
.btn-search.active, .btn-search:active, .open>.dropdown-toggle.btn-search {
	background-image: none
}
.btn-search.disabled, .btn-search.disabled.active, .btn-search.disabled.focus, .btn-search.disabled:active, .btn-search.disabled:focus, .btn-search.disabled:hover, .btn-search[disabled], .btn-search[disabled].active, .btn-search[disabled].focus, .btn-search[disabled]:active, .btn-search[disabled]:focus, .btn-search[disabled]:hover, fieldset[disabled] .btn-search, fieldset[disabled] .btn-search.active, fieldset[disabled] .btn-search.focus, fieldset[disabled] .btn-search:active, fieldset[disabled] .btn-search:focus, fieldset[disabled] .btn-search:hover {
	background-color: #4981bc;
	border-color: #2b6bad;
}
.btn-search .badge {
	color: #fff;
	background-color: #333
}
.btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #23527c;
	text-decoration: none;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #777;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.4;
	border-radius: 3px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn_group_gray {
	background: #ededed;
	padding: 10px 0;
	margin-bottom: 5px
}

.header {
	height: 40px;
	background: #35495f
}
.header h1 {
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	vertical-align: middle;
	background: url(../images/bullet_popup_title.png) no-repeat 15px center;
	padding-left: 30px
}
.content {
	height: 100%
}
.content h2 {
	color: #243446;
	font-weight: normal;
	font-size: 16px;
	background: url(../images/bullet_popup_con_title.png) no-repeat 0px 6px;
	padding-left: 15px;
}

.content h2 span {
	float:left
}
.seach_box {
	width: 250px;
	height: 100%;
	background: #dce9e3;
	padding: 10px 15px;
	float: left;
	position: absolute
}
.seach_box h2 {
	padding-bottom: 8px
}
.seach_box button{    padding: 2px 6px;}
.list_box {
	width: 780px;
	height: 100%;
	background: #fff;
	padding: 10px 0px 10px 295px;
	float: left;
}
.list_box h2 {
}
.list {
	width: 780px;
	border: 1px solid #a7c8b9;
	overflow-x: scroll;
	
}
.view_box {
	width: 1070px;
	background: #fff;
	padding: 5px 15px 0px;
}
.view_box h2 {
}
.tabinfo-box {
	width: 1070px;
	padding: 15px 15px 0px;
	float: left;
}
.tabinfo-list {
	padding-top: 5px;
	background: #eeeeee;
	border: 1px solid #3c6aa6;
}
.tab-box {
	width: 1070px;
	padding: 15px 15px 0px;
	float: left;
}
.tab-list-blue {
	padding-top: 0px;
	background: #eee;
	border: 1px solid #80a0c0;
}

.regist-box {
	width: 535px;
	background: #fff;
	padding: 5px 15px 0px;
}
.regist-box2 {
	width: 650px;
	background: #fff;
	padding: 5px 15px 0px;
}

.confirm-box {
	width: 535px;
	background: #fff;
	padding: 5px 15px 0px;
}

.gallery-box {
	width: 1070px;
	padding: 5px 15px 0px;
	margin-top:10px;
}


.gallery-list {background:#e9f3eb;  display:inline-block; width:1050px;  padding:25px 10px; 
}
.gallery-list img{vertical-align:middle}
.gallery-cont{float:left;  background:#fff; border:1px solid #bfd8cb; width:178px; height:178px;margin-right:15px}
.gallery-btn-left{float:left; width:44px; vertical-align:middle; margin-top:65px; }
.gallery-btn-right{float:right; width:38px; vertical-align:middle; margin-top:65px }


.tab-list:not(.active) {
	display: none;
}


.tab-view {
	padding-top: 0px;
	background: #f4f4f4;
	border: 1px solid #96beac;
	
}
.tab-list {
	padding-top: 0px;
	background: #eee;
	border: 1px solid #96beac;
	overflow:auto;
	
	height:240px;

	
}
.tab-list .btn_group{margin:5px;}

.tab-list button { background:#51a984; border: 1px solid #509274; }
.tab-list button:focus, .tab-list button:hover{ background:#21855f; border: 1px solid #21855f;}

.calenda-box{}
.calenda-header{ text-align:center; height:30px;line-height:30px;  font-size:22px;font-weight:600; color:#35495f; margin-bottom:10px; font-family:Noto Sans KR}

.calenda-header img{vertical-align: middle; margin-bottom:4px; padding:0 10px}
.calenda-header span{  }
.calenda-header a { }
.calenda-header a.today {background:#51a984; color:#fff;  font-size:17px; padding:0px 8px 3px ;font-weight:400; margin-left:5px ; vertical-align: top ; border-radius:1px; }

.calenda-cont{border: 0px solid #96beac;background:#fff; overflow-y:auto; height:568px; margin-top:10px ;}
.calenda-cont h2{ text-align:center; height:30px;line-height:30px;  font-size:22px;font-weight:600; color:#35495f; margin-bottom:0px; font-family:Noto Sans KR; background-image:none }


.tab-view:not(.active) {
	display: none;
}



.tab-view{height:104px;}

/** tab info**/
.tab-info {
}
.tab-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	border-bottom: 1px solid #21855f;
}
.tab-info > li {
	display: inline-block;
	position: relative;
	width: 110px;
	height: 28px;
	line-height: 28px;
	padding: 0px;
	background: #e5f2ee;
	border: 1px solid #96beac;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}
.tab-info > li + li {
	margin-right: 1px
}
.tab-info > li:first-child {
	margin-right: 1px
}
.tab-info a {
	color: #21855f;
	display: block;
	padding: 0px 0px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	
	height: 28px;
	line-height: 28px;
}

.tab-info a.width-s, .tab-info > li.width-s {
	width:94px;	
}


.tab-info a:hover, .tab-info a:focus {
 background:  #;
	outline: none;
}
.tab-info li.active {
	background: #21855f;
	border-color: #21855f;
	border-radius: 3px 3px 0 0;
}
.tab-info a.active {
	background: #21855f;
	border-color: #21855f;
	color: #fff;
}

/** tab-menu**/
.tab-menu {
}
.tab-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	border-bottom: 1px solid #21855f;
}
.tab-menu > li {
	display: inline-block;
	position: relative;
	width: 110px;
	height: 28px;
	line-height: 28px;
	padding: 0px;
	background: #e5f2ee;
	border: 1px solid #96beac;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}
.tab-menu > li + li {
	margin-right: 1px
}
.tab-menu > li:first-child {
	margin-right: 1px
}
.tab-menu a {
	color: #21855f;
	display: block;
	padding: 0px 0px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	
	height: 28px;
	line-height: 28px;
}

.tab-menu a.width-s, .tab-menu > li.width-s {
	width:94px;	
}


.tab-menu a:hover, .tab-menu a:focus {
 background:  #;
	outline: none;
}
.tab-menu li.active {
	background: #21855f;
	border-color: #21855f;
	border-radius: 3px 3px 0 0;
}
.tab-menu a.active {
	background: #21855f;
	border-color: #21855f;
	color: #fff;
}

/** //tab-menu**/

/** tab-menu blue**/
.tab-menu-blue {
}
.tab-menu-blue ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	border: 0px solid #3c6aa6;
	border-bottom: 1px solid #3c6aa6;
}
.tab-menu-blue > li {
	display: inline-block;
	position: relative;
	width: 110px;
	height: 28px;
	line-height: 28px;
	padding: 0px;
	background: #dce7f2;
	border-top: 1px solid #3c6aa6;
}
.tab-menu-blue > li + li {
	border-right: 1px solid #80a0c0;
}
.tab-menu-blue> li:first-child {
	border-left: 1px solid #80a0c0;
	border-right: 1px solid #80a0c0;
}
.tab-menu-blue a {
	color: #133f79;
	display: block;
	padding: 0px 0px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	width: 110px;
	height: 28px;
	line-height: 28px;
}
.tab-menu-blue a:hover, .tab-menu-blue a:focus {

	outline: none;
}
.tab-menu-blue li.active {
	background: #3c6aa6;
	border-color: #3c6aa6;
}
.tab-menu-blue a.active {
	background: #3c6aa6;
	border-color: #3c6aa6;
	color: #fff;
}

/** //tab-menu-blue blue**/



/**table**/
.table {
	width: 100%;
	max-width: 100%;
}
.table caption {
	display: none
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 5px;
	line-height: 26px;
	border: none
}


.table>thead>tr>th {
	vertical-align: middle;
}
.table>tbody>tr>td.left {
	text-align: left
}
.table>tbody>tr>td.right {
	text-align: right
}
.table-hover>tbody>tr:hover {
	background-color: #fbfce2
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
}
.table>tbody+tbody {
	border: none
}
.table .table {
	background-color: #fff
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding: 5px
}
.table-bordered {
	border: 1px solid #ddd
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #edf4f1
}
.table-hover>tbody>tr:hover {
	background-color: #e0f0fc
}
table col[class*=col-] {
	position: static;
	display: table-column;
	float: none
}
table td[class*=col-], table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
	background-color: #f5f5f5
}
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
	background-color: #e8e8e8
}
.table-hover>tbody>tr.danger:hover>td, .table-hover>tbody>tr.danger:hover>th, .table-hover>tbody>tr:hover>.danger, .table-hover>tbody>tr>td.danger:hover, .table-hover>tbody>tr>th.danger:hover {
	background-color: #ebcccc
}
.table-responsive {
	min-height: .01%;/*overflow-x:auto;*/
}

/**조회**/
.table-search {
	border-bottom: 1px solid #509274;
	border-top: 1px solid #509274;
	margin-bottom: 0px
}
.table-search>tbody>tr {
	border: 0;
	border-bottom: 1px solid #dce9e3;
}
.table-search>tbody>tr>th {
	background: #69a68a;
	color: #fff;
	font-weight: normal;
	text-align: left;
	font-size: 13px;
	letter-spacing: -1px;
	line-height: 26px;
	padding: 5px;
	border: 0;
	border-bottom: 1px solid #dce9e3;
}
.table-search>tbody>tr>td {
	background: #bad4c9;
	color: #555;
	text-align: left;
	font-size: 13px;
	line-height: 26px;
	padding: 4px 5px;
	border: 0;
	border-bottom: 1px solid #dce9e3;
}
.table-search>tbody>tr:first-child>th, .table-search>tbody>tr:first-child>td {
	border-top: 1px solid #dce9e3;
}
.table-search>tbody>tr>td input {
	width: 118px
}
.table-search>tbody>tr>td input[type=text]:focus {
	border: 1px #509274 solid;
	color: #0b6b65;
}
.table-search>tbody>tr>td select {
	width: 118px
}
/* list*/
.table-list {
	border-top: 1px solid #509274;
	background: #fff
}
.table-list>thead>tr>th {
	border-bottom: 1px solid #509274;
	background: #d6e8e0;
	color: #0b6b65;
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
}
.table-list>tbody>tr>td {
	border-bottom: 1px solid #dfebe6;
	color: #555;
	text-align: center;
	font-size: 13px;
	padding: 5px;
	line-height: 24px;
}

.table-list>tbody>tr>td.item {
	color: #35495f; font-weight:normal;border-bottom: 1px solid #b8e4d0; background:#e4f4e7;
	text-align:left;
}
.table-list>thead>tr input{color: #0d7263; text-align:center;border: 1px solid #d6e8e0; background:#d6e8e0 }



.table-list>tbody>tr>td.check {
	vertical-align: middle
}
.table-list>tbody>tr.total {
	background-color: #f6f6f6;
	font-weight: 500
}
.table-list>tbody>tr:last-child>td {
}
.table-list>thead>tr th + th {
	border-left: 1px solid #a7c8b9;
}
.table-list>tbody>tr td + td {
	border-left: 1px solid #dbe9e2;
}
/*tab list*/
.table-tab {
	border-top: 1px solid #509274;
	background: #fff
}

.table-tab>thead>tr>th {
	border-bottom: 1px solid #509274;
	background: #85b7a4;
	color: #fff;
	font-size: 14px;
	padding: 0px 5px;
	height: 28px;
	line-height: 28px;
	font-weight: 400;
	
}
.table-tab>tbody>tr>td {
	border-bottom: 1px solid #b8e4d0;
	color: #555;
	text-align: center;
	font-size: 13px;
	padding: 0px 5px;
	height: 30px;
	line-height: 30px;
}


.table-tab>tbody>tr:last-child>td {
}
.table-tab>thead>tr th + th {
	border-left: 1px solid #509274;
}
.table-tab>tbody>tr td + td {
	border-left: 1px solid #b8e4d0;
}


/*tab list blue*/
.table-tab-blue {
	border-top: 1px solid #6188b1;
	background: #fff
}
.table-tab-blue>thead>tr>th {
	border-bottom: 1px solid #6188b1;
	background: #dce7f2;
	color: #133f79;
	font-size: 14px;
	padding: 0px 5px;
	line-height: 22px;
	font-weight: 400;
}
.table-tab-blue>tbody>tr>td {
	border-bottom: 1px solid #c9d6e0;
	color: #555;
	text-align: center;
	font-size: 13px;
	padding: 4px 5px;
	line-height: 20px;
}
.table-tab-blue>tbody>tr.total {
	background-color: #f6f6f6;
	font-weight: 500
}
.table-tab-blue>tbody>tr:last-child>td {
}
.table-tab-blue>thead>tr th + th {
	border-left: 1px solid #6188b1;
}
.table-tab-blue>tbody>tr td + td {
	border-left: 1px solid #c9d6e0;
}

/*tab list*/

.list-regist {
	border: 2px solid #4a7497;
	background: #fff;
	overflow-y:auto;
	height:180px

	
}
.table-list-regist {
	border: 1px solid #4a7497;
	background: #fff
}
.table-list-regist>thead>tr>th {
	border-bottom: 1px solid #4a7497;
	background: #80a0c0;
	color: #fff ;
	font-size: 14px;
	padding: 0px 5px;
	line-height: 28px;
	font-weight: 400;
}

.table-list-regist>tbody>tr>td {
	border-bottom: 1px solid #c9d6e0;
	color: #555;
	text-align: center;
	font-size: 13px;
	padding: 4px 5px;

	line-height: 20px;
}
.table-list-regist>tbody>tr.total {
	background-color: #f6f6f6;
	font-weight: 500
}
.table-list-regist>tbody>tr:last-child>td {
}
.table-list-regist>thead>tr th + th {
	border-left: 1px solid #6188b1;
}
.table-list-regist>tbody>tr td + td {
	border-left: 1px solid #c9d6e0;
}

.table-view {
	border-top: 1px solid #96beac;
	border-bottom: 1px solid #96beac;
	background: #fff
}
.table-view>tbody>tr>th {
	border-bottom: 1px solid #fff;
	background: #dbebde;
	color: #35495f;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-align: left;
	letter-spacing:-1px
}
.table-view>tbody>tr>td {
	border-bottom: 1px solid #dfebe6;
	color: #555;
	text-align: left;
	font-size: 13px;
	padding: 4px 5px;
	line-height: 18px;
}
.table-view>tbody>tr:first-child>th, .table-view>tbody>tr:first-child>td {
	border-top: 1px solid #fff;
}
.table-view>tbody>tr:last-child>th, .table-view>tbody>tr:last-child>td {
	border-bottom: 1px solid #fff;
}
.table-view>tbody>tr>td input.md {width: 136px
	
}
.table-view>tbody>tr>td input[type=text]:focus {
	border: 1px #509274 solid;
	color: #0b6b65;
}
.table-view>tbody>tr>td select {
	width: 136px
}

/**등록 **/
.table-view-regist {
	border-top: 1px solid #4a7497;
	border-bottom: 1px solid #4a7497;
	background: #fff
}
.table-view-regist>tbody>tr>th {
	border-bottom: 1px solid #fff;
	background: #80a0c0;
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-align: left
}
.table-view-regist>tbody>tr>td {
	border-bottom: 1px solid #c9d6e0;
	color: #555;
	text-align: left;
	font-size: 13px;
	padding: 4px 5px;
	line-height: 18px;
}
.table-view-regist>tbody>tr:first-child>th, .table-view-regist>tbody>tr:first-child>td {
	border-top: 1px solid #fff;
}
.table-view-regist>tbody>tr:last-child>th, .table-view-regist>tbody>tr:last-child>td {
	border-bottom: 1px solid #fff;
}
.table-view-regist>tbody>tr>td input {
	border:1px solid #80a0c0 ;width: 136px
}
.table-view-regist>tbody>tr>td input[type=text]:focus {
	border:1px solid #36618e ;
	color:#36618e;
}
.table-view-regist>tbody>tr>td select {
	border-color:#80a0c0 ;width: 136px
}

/** **/
.table-write {
	border-top: 2px solid #005ba6;
	border-bottom: 2px solid #005ba6;
	margin-bottom: 10px
}
.table-write>tbody>tr>th {
	border-bottom: 1px solid #d9d9d9;
	background: #f4f4f4;
	color: #354252;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	padding-left: 20px;
	line-height: 30px;
}
.table-write>tbody>tr>td {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #fff;
	color: #555;
	font-size: 13px;
	padding-right: 20px;
}
.table-write>tbody>tr>td p {
	padding: 10px 10px 0px 10px;
}
.table-write>tbody>tr>td p img {
	vertical-align: text-bottom
}
.table-write>tbody>tr>td span {
	color: #999;
	padding: 0 6px;
}
.table-write>tbody>tr>td i {
	color: #4981bc
}
.table-write>tbody>tr>td label {
	margin-right: 20px
}
.table-border-no {
	border: 0 0 0 0;
}
.table-border-no>tbody>tr>td, .table-border-no>tbody>tr>th, .table-border-no>tfoot>tr>td, .table-border-no>tfoot>tr>th, .table-border-no>thead>tr>td, .table-border-no>thead>tr>th {
	border: 0px solid #ddd;
	font-size: 14px;
	padding: 4px;
}
.table-border-no>tbody>tr>td {
}
.table-border-no>tbody>tr>th {
	border-bottom-width: 0px
}
.table-border-no>tbody>tr>th p {
	background: #88a3be;
	border-radius: 15px;
	color: #fff;
	border-bottom-width: 0px
}
/**pagination**/
.pagination {
	display: inline-block;
	margin: 10px auto 0px;
}
.pagination>li {
	display: inline
}
.pagination>li>a, .pagination>li>span, .pagination>li>strong {
	position: relative;
	float: left;
	padding: 12px 12px;
	color: #777;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:first-child>strong {
	color: #c3c3c3;
}
.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:last-child>strong {
	color: #c3c3c3;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pagination>li>strong:focus, .pagination>li>strong:hover {
	color: #23527c;
	background-color: #fff;
	border-color: #64b18b;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination>li>strong, .pagination>li>strong:focus, .pagination>li>strong:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #64b18b;
	border-color: #64b18b;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.pagination-lg>li>a, .pagination-lg>li>span, .pagination-lg>li>strong {
	padding: 10px 18px;
	font-size: 18px
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px
}
.pagination-sm>li>a, .pagination-sm>li>span, .pagination-sm>li>strong {
	padding: 2px 8px;
	font-size: 13px;
	margin: 1px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span, .pagination-sm>li:first-child>strong {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span, .pagination-sm>li:last-child>strong {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}
