@charset "utf-8";
/* CSS Document */
/**공통**/
@import url(notosanskr.css);
 font-family: 'Noto Sans KR', sans-serif;
@import url(notosanskr.css);
/*  한국어 */
:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0
}

body, th, td, input, select, textarea, button {
	line-height: 1.5;
	font-size: 13px;
	/*font-family: '돋움', dotum, sans-serif, AppleGothic, sans-serif, 'NanumGothic', '나눔고딕';*/
	font-family: 'NotoSans', 'Arial', sans-serif;
	color: #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body {
	font-family: Noto Sans KR, sans-serif;
	font-weight: 300;
	color: #555;
}
:lang(ko) {
	font-family: Noto Sans KR, sans-serif;
}
}

a {
	color: #333;
	text-decoration: none
}
a:active, a:hover {
	text-decoration: none
}

/** 공통**/
