@charset "utf-8";
/* CSS Document */
@import url(notosanskr.css);

font-family
:
 
'
Noto
 
Sans
 
KR
'
,
sans-serif
;


@import url(notosanskr.css);
/*  한국어 */
:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
}

/* reset */
html, body {
	height:
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, textarea, p, blockquote, th, td, input, select,
	textarea, button {
	margin: 0;
	padding: 0
}

fieldset, img {
	border: 0 none
}

dl, ul, ol, menu, li {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

input, select, textarea, button {
	vertical-align: middle
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}

body {
	background: #fff;
}

body, th, td, input, select, textarea, button {
	line-height: 1.5;
	font-size: 13px;
	/*font-family: '돋움', dotum, sans-serif, AppleGothic, sans-serif, 'NanumGothic', '나눔고딕';*/
	font-family: 'NotoSans', 'Arial', sans-serif;
	color: #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	body {
		font-family: Noto Sans KR, sans-serif;
		font-weight: 300;
		color: #555;
	}
	:lang(ko) {
		font-family: Noto Sans KR, sans-serif;
	}
}

/* color값은 디자인가이드에 맞게사용 */
a {
	color: #333;
	text-decoration: none
}

a:active, a:hover {
	text-decoration: none
}

address, caption, cite, code, dfn, em, var {
	font-style: normal;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input {
	line-height: normal
}

input[type=checkbox], input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver
}

legend {
	padding: 0;
	border: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: 500
}

div {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

td, th {
	padding: 0
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}

.form-control {
	color: #333;
	font-size: 13px;
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #ccc;
	display: inline;
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding-left: 10px;
}

.form-control.input-white {
	background: #fff;
	border-color: #fff
}

.form-control.input-white:focus {
	box-shadow: none;
	-webkit-box-shadow: none
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background: #e5e9ed;
	opacity: .6;
	filter: alpha(opacity = 60)
}

.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus
	{
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #ccd0d4
}

.form-control:focus {
	border-color: #9fa2a5;
	-webkit-box-shadow: none;
	box-shadow: none
}

.form-control.input-inline {
	display: inline;
	width: auto;
	padding: 0 0px 0 7px
}

.f_l {
	float: left
}

.f_r {
	float: right
}

.cl_b {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both
}

.show {
	display: block
}

.hide {
	display: none
}

.tbl {
	border-collapse: collapse;
	border-spacing: 0
} /* 테이블 초기화 */
.clear_g {
	display: block;
	overflow: visible;
	width: auto;
	clear: both;
	*zoom: 1
}

.clear_g:after {
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
	clear: both;
	content: ''
}

.center {
	text-align: center
}

.right {
	text-align: right
}

.m-b-0 {
	margin-bottom: 0px
}

.m-b-5 {
	margin-bottom: 5px
}

.m-b-10 {
	margin-bottom: 10px
}

.m-r-10 {
	margin-right: 10px
}

.m-r-15 {
	margin-right: 15px
}

.m-t-5 {
	margin-top: 5px
}

.of-y-auto {
	overflow-y: auto;
}

.of-y-scroll {
	overflow-y: scroll;
}

/**버튼**/
.btn {
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	outline: none;
}

.btn img {
	vertical-align: middle;
	padding-bottom: 3px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	outline: none;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
	outline: none;
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.btn-default {
	color: #fff;
	background-color: #36618e;
	border-color: #2a5685
}

.btn-default.active, .btn-default.focus, .btn-default:active,
	.btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default
	{
	color: #fff;
	background-color: #2a5685;
	border-color: #235181
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default
	{
	background-image: none
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus,
	.btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover,
	.btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus,
	.btn-default[disabled]:active, .btn-default[disabled]:focus,
	.btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active,
	fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active,
	fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover
	{
	background-color: #4981bc;
	border-color: #2b6bad;
}

.btn-default .badge {
	color: #fff;
	background-color: #333
}

.btn-line {
	color: #024780;
	background-color: #fff;
	border-color: #4981bc;
	font-size: 12px;
	padding: 3px 15px;
	line-height: 14px;
}

.btn-line.active, .btn-line.focus, .btn-line:active, .btn-line:focus,
	.btn-line:hover, .open>.dropdown-toggle.btn-line {
	color: #fff;
	background-color: #2b6bad;
	border-color: #024780
}

.btn-line.active, .btn-line:active, .open>.dropdown-toggle.btn-line {
	background-image: none
}

.btn-line.disabled, .btn-line.disabled.active, .btn-line.disabled.focus,
	.btn-line.disabled:active, .btn-line.disabled:focus, .btn-line.disabled:hover,
	.btn-line[disabled], .btn-line[disabled].active, .btn-line[disabled].focus,
	.btn-line[disabled]:active, .btn-line[disabled]:focus, .btn-line[disabled]:hover,
	fieldset[disabled] .btn-line, fieldset[disabled] .btn-line.active,
	fieldset[disabled] .btn-line.focus, fieldset[disabled] .btn-line:active,
	fieldset[disabled] .btn-line:focus, fieldset[disabled] .btn-line:hover
	{
	background-color: #69c5bc;
	border-color: #55a9a5
}

.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active,
	.btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary
	{
	background-image: none
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus,
	.btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover,
	.btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus,
	.btn-primary[disabled]:active, .btn-primary[disabled]:focus,
	.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active,
	fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active,
	fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover
	{
	background-color: #337ab7;
	border-color: #2e6da4
}

.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}

.btn-success.active, .btn-success.focus, .btn-success:active,
	.btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success
	{
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success
	{
	background-image: none
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus,
	.btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover,
	.btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus,
	.btn-success[disabled]:active, .btn-success[disabled]:focus,
	.btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active,
	fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active,
	fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover
	{
	background-color: #5cb85c;
	border-color: #4cae4c
}

.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus,
	.btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-image: none
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus,
	.btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover,
	.btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus,
	.btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover,
	fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active,
	fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active,
	fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover
	{
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active,
	.btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning
	{
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning
	{
	background-image: none
}

.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus,
	.btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover,
	.btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus,
	.btn-warning[disabled]:active, .btn-warning[disabled]:focus,
	.btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active,
	fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active,
	fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover
	{
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus,
	.btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger
	{
	background-image: none
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus,
	.btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover,
	.btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus,
	.btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover,
	fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active,
	fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active,
	fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover
	{
	background-color: #d9534f;
	border-color: #d43f3a
}

.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}

.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc;
	font-size: 12px
}

.btn-table.active, .btn-table.focus, .btn-table:active, .btn-table:focus,
	.btn-table:hover, .open>.dropdown-toggle.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc
}

.btn-table.active, .btn-table:active, .open>.dropdown-toggle.btn-table {
	background-image: none
}

.btn-table.disabled, .btn-table.disabled.active, .btn-table.disabled.focus,
	.btn-table.disabled:active, .btn-table.disabled:focus, .btn-table.disabled:hover,
	.btn-table[disabled], .btn-table[disabled].active, .btn-table[disabled].focus,
	.btn-table[disabled]:active, .btn-table[disabled]:focus, .btn-table[disabled]:hover,
	fieldset[disabled] .btn-table, fieldset[disabled] .btn-table.active,
	fieldset[disabled] .btn-table.focus, fieldset[disabled] .btn-table:active,
	fieldset[disabled] .btn-table:focus, fieldset[disabled] .btn-table:hover
	{
	background-color: #cbece7;
	border-color: #afe2d9
}

.btn-search {
	color: #fff;
	background-color: #358862;
	border-color: #297653
}

.btn-search.active, .btn-search.focus, .btn-search:active, .btn-search:focus,
	.btn-search:hover, .open>.dropdown-toggle.btn-search {
	color: #fff;
	background-color: #297653;
	border-color: #1d6b47
}

.btn-search.active, .btn-search:active, .open>.dropdown-toggle.btn-search
	{
	background-image: none
}

.btn-search.disabled, .btn-search.disabled.active, .btn-search.disabled.focus,
	.btn-search.disabled:active, .btn-search.disabled:focus, .btn-search.disabled:hover,
	.btn-search[disabled], .btn-search[disabled].active, .btn-search[disabled].focus,
	.btn-search[disabled]:active, .btn-search[disabled]:focus, .btn-search[disabled]:hover,
	fieldset[disabled] .btn-search, fieldset[disabled] .btn-search.active,
	fieldset[disabled] .btn-search.focus, fieldset[disabled] .btn-search:active,
	fieldset[disabled] .btn-search:focus, fieldset[disabled] .btn-search:hover
	{
	background-color: #4981bc;
	border-color: #2b6bad;
}

.btn-search .badge {
	color: #fff;
	background-color: #333
}

.btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled],
	fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}

.btn-link:focus, .btn-link:hover {
	color: #23527c;
	text-decoration: none;
	background-color: transparent
}

.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus,
	fieldset[disabled] .btn-link:hover {
	color: #777;
	text-decoration: none
}

.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}

.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-group-xs>.btn, .btn-xs {
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.4;
	border-radius: 3px
}

.btn-block {
	display: block;
	width: 100%
}

.btn-block+.btn-block {
	margin-top: 5px
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block
	{
	width: 100%
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-edit-layer {
	background: #51a984;
	border: 1px solid #509274;
}

.btn-edit-layer:focus, .btn-edit-layer:hover {
	background: #21855f;
	border: 1px solid #21855f;
	color: #fff
}

/* UI Object */
#wrap {
	width: 100%;
	height: 100%;
}

.wrap {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
}

#container {
	_display: inline-block;
	width: 100%;
	height: 100%;
	background: #fff;
}

#container:after {
	display: block;
	clear: both;
	content: ''
}

.index_navbar {
	width: 100%;
	text-align: right
}

.index_navbar img {
	float: left;
	margin-left: 20px;
	margin-top: 12px
}

.member {
	padding: 0px 0px 0px 20px;
	color: rgba(255, 255, 255, 0.75);
	float: right;
	margin-top: 8px;
	background: url(../images/icon_top_welcome.png) no-repeat 0 10px;
}

.member span {
	font-weight: 700;
	color: #fff
}

.member a {
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	margin-left: 10px;
	padding: 0px 20px;
}

.member a img {
	margin-top: 10px;
	vertical-align: bottom
}

/* top_menu */
.top_nav {
	float: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 38px;
	width: 100%;
	background: #35495f;
	border: none;
	border-top: 1px solid #243446;
	border-bottom: 1px solid #243446;
	color: #fff;
}

.top_nav img {
	vertical-align: middle;
	padding: 2px
}

.menu_sidebar {
	background: #243446;
	height: 38px;
	line-height: 38px;
	width: 220px;
	float: left;
	text-align: right
}

.menu_sidebar a img {
	vertical-align: middle;
	padding: 12px 6px;
}

.menu_sidebar a {
	height: 38px;
	line-height: 38px;
	padding: 14px 12px;
	margin-top: 14px
}

.menu_sidebar a:hover, .menu_sidebar a:focus {
	background: #;
	outline: none;
}

.menu_nav {
	float: left;
}

.menu_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0
}

.menu_nav>li {
	display: inline-block;
	position: relative;
	height: 38px;
	line-height: 36px;
	padding: 0px;
	border-right: 1px solid #243446;
}

.menu_nav>li+li {
	
}

.menu_nav a {
	color: #fff;
	display: block;
	padding: 0px 30px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	font-family: 'Noto Sans KR';
	height: 38px;
	line-height: 36px;
}

.menu_nav a:hover, .menu_nav a:focus {
	background: #243d58;
	outline: none;
}

/* top_menu */
.map_nav {
	float: right
}

.map_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0
}

.map_nav>li {
	display: inline-block;
	position: relative;
	height: 38px;
	line-height: 38px;
	padding: 0px;
	margin: 0px;
	background: #27384b;
	border: 0;
	margin-left: 1px
}

.map_nav>li+li {
	
}

.map_nav a {
	color: #fff;
	display: block;
	padding: 0px 12px;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	vertical-align: bottom;
	height: 38px;
	line-height: 38px;
}

.map_nav a img {
	margin-top: 5px;
	border: 0px;
}

.map_nav a:hover, .map_nav a:focus {
	background: #243d58;
	outline: none;
}

.submenu {
	background: #146db6;
	left: -9999px;
	position: absolute;
	top: -9999px;
	width: 100%;
	z-index: 999;
	border: solid 1px #024e8c;
}

.submenu>li+li {
	border-top: solid 1px #024e8c
}

.submenu>li:last-child {
	
}

.submenu a {
	padding: 12px 0px 12px 0px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
	background: #146db6;
	font-weight: bold
}

.submenu a:hover, .submenu a:focus {
	background: #005ba6;
	outline: none;
}

.is-show {
	left: auto;
	top: 100%;
}
/* content  */
#content {
	margin: 0 auto;
	height: 100%;
}

#footer {
	width: 100%;
	bottom: 0
}
/* Layout Color */
#wrap {
	width: auto;
	padding: 0px;
	background: #fff;
	margin: 0 auto;
}

#header {
	margin: 0px;
	background: #005891;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000
}

#container {
	width: auto;
	height: auto;
	margin-top: 50px
}

#content {
	background: #ffffff;
	padding: 0px;
	border: 0;
	width: 100p%;
	height: 100%;
	margin: 0px
}

#footer {
	background: #243446;
	height: 30px;
	width: auto;
}
/* footer하단 메뉴 */
.adress {
	margin: 0 auto;
	padding: 0px;
	font-size: 13px;
	color: #969fa8;
	font-weight: 100;
	text-align: center;
	font-weight: 100;
	font-family: "맑은 고딕";
	font-size: 11px;
	line-height: 30px
}

/* //UI Object */
h1.page-header-popup {
	height: 40px;
	line-height: 40px;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 24px;
	color: #fff;
	font-weight: 500
}

.contents-box h2 {
	padding-left: 0px;
	margin: 0px 0px 10px;
	font-size: 16px;
	color: #005891;
}

.contents-box h2 b {
	margin: 0 5px 0 5px;
	color: #555;
	padding: 0px 0 0 8px;
	line-height: 32px;
	vertical-align: bottom;
	font-size: 14px;
	background: url(../images/bg_cont_menu_bottom.gif) no-repeat left 5px
}

h3.content-title span.stit {
	background: #faf2c7;
	border-radius: 24px;
	padding: 5px 10px;
	font-size: 12px;
}

h3.content-title span.stit input {
	background: #faf2c7;
	border: 0;
	width: 150px
}

hr {
	border: 0;
	height: 10px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

hr.search-dot {
	margin: 0 5px 0px;
	border: 0;
	border-bottom: 0px dashed #848ca0;
}

.header-img {
	margin: 0 40px;
	color: #ffffff;
	min-width: 1200px
}

.header-img p {
	font-size: 22px;
	font-weight: 600;
	padding-top: 46px;
	text-align: right;
	color: #ffffff
}

.content-tab {
	width: auto;
	margin: 20px 5px 0px;
	height: 30px;
	padding-bottom: 10px
}

.content-tab>ul {
	
}

.content-tab>li {
	display: inline-block;
	float: left;
	width: 20%;
	padding: 6px 0;
	text-align: center;
	background: #fff;
	border: 1px solid #005ba6;
	margin-right: 1px;
	font-size: 17px;
}

.content-tab>li a {
	color: #005ba6;
	text-decoration: none;
	font-weight: normal
}

.content-tab>li.active {
	color: fff;
	background: #005ba6;
	border: 1px solid #005ba6;
}

.content-tab>li a.active {
	color: #fff;
	background: #005ba6;
}

.content-tab>li:first-child {
	
}

.content-tab>li:last-child {
	
}

.img-box {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
/*cont_menu*/
.cont_menu {
	margin: 0 auto;
	padding: 0px 15px;
	list-style: none;
	background: #fff;
	text-align: left;
	width: 1100px;
	border: 0;
}

.cont_menu>li {
	display: inline-block;
	float: left;
	padding: 16px 0px;
	border-right: 1px solid #e6e6e6;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
}

.cont_menu>li:first-child {
	border-left: 1px solid #e6e6e6;
}

.contents-box {
	padding: 0px;
	width: 100%;
	background: #fff;
	border: 0;
	clear: left
}



.conts {
	height: 100%;
	margin: 0;
	margin-left: 220px;
	padding: 0px 0px 0px 0px;
	border-left: 0px solid #243446;
	min-width: 1000px;
}

/** 퀵메뉴 **/
.toggle-box {
	position: absolute;
	top: 90px;
	right: 0px;
	margin-bottom: -200px;
	background: #35495f;
	border-left: 0px solid #13202e;
	width: 60px;
	height: 100%;
	padding: 10px 0;
}

.toggle-menu {
	background: #35495f;
	color: rgba(255, 255, 255, 0.50);
	height: 100%;
	font-size: 12px;
	text-align: center
}

.toggle-menu ul {
	
}

.toggle-menu li {
	padding: 10px 0px;
}

.toggle-menu li a {
	color: rgba(255, 255, 255, 0.50);
}

.toggle-menu li img {
	display: block;
	margin: 5px auto
}
/** //퀵메뉴 **/
.layer-box {
	position: absolute;
	top: 50px;
	right: 290px;
	width: 180px;
	height: 540px;
	border-radius: 5px 5px 5px 5px;
}

.layer-box-edit {
	right: 100px;
}
/* wntjr*/
.layer-header {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0 10px;
	color: #fff;
	text-align: left;
	background: #243446;
	border-radius:5px 5px  0px 0px ;
}

.layer-header img {
	float: right;
	padding-top: 12px;
}

.layer-content {
	background: #35495f;
	color: #fff;
	height: 496px;
	padding: 10px;
	font-size: 13px;
	border-radius: 0px 0px 5px 5px;
	
}

.layer-scroll {
    height: 476px; padding: 10px 10px 10px 10px;
	
    overflow-y: auto;
    
	scrollbar-face-color: #35495f;
	scrollbar-shadow-color: #243446;
	scrollbar-highlight-color: #273b51;
	scrollbar-3dlight-color: #243446;
	scrollbar-darkshadow-color: #273b51;
	scrollbar-track-color: #273b51;
	scrollbar-arrow-color: #35495f;
}

.layer-facility-list {
	color: #35495f;
	padding: 5px;
	background: #fff;
	border: 2px solid #243446;
	height: 260px;
	overflow-y: auto
}

.layer-facility-list::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: 3px solid #fff;
}

.layer-facility-list::-webkit-scrollbar-button:start:decrement,
	.layer-facility-list::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 10px;
	background: #efefef
}

.layer-facility-list::-webkit-scrollbar-track {
	background: #efefef;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.layer-facility-list::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, .2);
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.layer-scroll::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border: 3px solid #35495f;
}

.layer-scroll::-webkit-scrollbar-button:start:decrement, .layer-scroll::-webkit-scrollbar-button:end:increment
	{
	display: block;
	height: 10px;
	background: #35495f;
}

.layer-scroll::-webkit-scrollbar-track {
	background: #35495f;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.layer-scroll::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, .2);
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.layer-facility { padding-bottom: 10px;
	
}

.layer-facility ul {
	
}

.layer-facility li {
	padding: 8px 0;
	font-size: 13px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.10)
}

.layer-facility li img {
	vertical-align: middle; opacity:0.4
}

.layer-facility li.all {
	padding: 0px 0 8px;
	font-size: 13px;
	border-bottom: 1px solid #19d882;
	color: #19d882;
	font-weight: 600
}

.layer-facility li li {
	padding: 8px 0;
	padding-left: 20px;
	font-size: 13px;
	border-bottom: 0px solid rgba(255, 255, 255, 0.10)
}

.layer-facility li li:last-child {
	padding-bottom: 0
}