<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fms">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <property name="context-root" value="fms"/>
        <property name="java-output-path" value="/fms/target/classes"/>
    </wb-module>
</project-modules>
