<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>



<!-- Owl CSS -->
<link href="/fms/static/vendors/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
<link href="/fms/static/vendors/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css">



<!-- 대시보드 -->
<link rel="stylesheet" href="<c:url value='/css/export.css' />" type="text/css" media="all">

<!-- 데이트피커 css -->
<link rel="stylesheet" href="/fms/static/jquery-ui-1.8.18/themes/base/jquery-ui.css" />


<!-- AX그리드 -->
<link href="<c:url value='/css/ax_page.css' />" rel="stylesheet" type="text/css">
<link href="<c:url value='/css/AXJ.min.css' />" rel="stylesheet" type="text/css">
<link href="<c:url value='/css/AXGrid.css' />" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="/fms/css/common_popup.css" rel="stylesheet" />


<style>	
input[type=date]{color:black;width:100%;}
.datepicker {color:black;}
div#map{padding-left: 55px;}
.popup_layer {margin: 0px auto 0 auto;}
h4.tab_h4 { display:none; }
#qrImage { display:none; }

/* For Print */
@media print {
			html, body{margin:0; padding:0; font-family:"돋움", Gulim, Sans-serif;font-size:12px;}
			#qrImage { display:block; }
			.table_btn { display:none;}
			input{border:none;border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;}
			input[type=checkbox] { display:none; }
			select{    
				-webkit-appearance: none; /* 화살표 없애기 for chrome*/
			    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
			    appearance: none;         /* 화살표 없애기 공통*/
					}	   
			select::-ms-expand {
			   display: none;            /* 화살표 없애기 for IE10, 11*/
			}
			ul.tab_ul {
				display:none;
			}
			h4.tab_h4 {
				margin-top:10px;
				font-size:10pt;
				text-decoration:underline;
				display:block;
			}
			div#tab01, div#tab02, div#tab03, div#tab04, div#tab05, div#tab06, div#tab07, div#tab08, div#tab09, div#tab10 {
				display:block;
			}
			div.fade {
			    opacity: 1;
			    -webkit-transition: opacity 1.0s linear;
			    -o-transition: opacity 1.0s linear;
			    transition: opacity 1.0s linear;	
			}
			div.layer_box {
				height:auto !important;
				overflow:visible;
			}
			div.layer_box table {
				width:100%;
			}
}
</style>
