<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<link rel="shortcut icon" href="/fms/images/favicon.ico">


<c:set var="imgUrl" value="${pageContext.request.contextPath}/static/dist/images"/>
<c:set var="cssUrl" value="${pageContext.request.contextPath }/static/dist/css"/>
<c:set var="jsUrl" value="${pageContext.request.contextPath }/static/dist/js"/>
<c:set var="bootUrl" value="${pageContext.request.contextPath }/static/vendors/bower_components/bootstrap"/>
<c:set var="jqueryUrl" value="${pageContext.request.contextPath }/static/vendors/bower_components/jquery"/>

<!-- gis -->
<c:set var="imgGisUrl" value="${pageContext.request.contextPath }/images/gis"/>
<c:set var="cssGisUrl" value="${pageContext.request.contextPath }/css/gis"/>
<c:set var="jsGisUrl" value="${pageContext.request.contextPath }/js/gis"/>

<!-- fms -->
<c:set var="ctxRoot" value="${pageContext.request.contextPath }"/>
<c:set var="rscRoot" value="${pageContext.request.contextPath }/static"/>
<c:set var="absoluteUrl" value="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}"/>

<!-- 첨부파일 업무구분 -->
<c:set var="F_DWG" value="111"/>
<c:set var="F_REF" value="112"/>
<c:set var="F_PHO" value="121"/>

<!-- 대시보드 -->
<script src="${pageContext.request.contextPath }/js/lib/chart/amcharts.js"></script>
<script src="${pageContext.request.contextPath }/js/lib/chart/serial.js"></script>
<script src="${pageContext.request.contextPath }/js/lib/chart/export.min.js"></script>
<script src="${pageContext.request.contextPath }/js/lib/chart/light.js"></script>



<!-- Bootstrap Core JavaScript -->
<script src="/fms/static/vendors/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Owl JavaScript -->
<script src="/fms/static/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
<!-- Owl Init JavaScript -->
<script src="/fms/static/dist/js/owl-data.js"></script>
<!-- Slimscroll JavaScript -->
<script src="/fms/static/dist/js/jquery.slimscroll.js"></script>







<script type="text/javascript">
	var selectedTab = "";
	
	$(document).ready(function() {
		// 탭 선택값
		try{
			$("#myTabs_16 a").click(function(e) {
				selectedTab = $(this).attr("href");
			});
		}catch(e){}
		
		// 탭 미리 선택
		if (location.hash.indexOf('tab') > -1) {
			$("#myTabs_16 a[aria-expanded=true]").attr("aria-expanded", "false");
			$(location.hash.replace('tab', 'tab_box')).click();
		}else {
			try{$('#tab01').addClass("active");$('#tab01').addClass("in");}catch(e){}
			try{$('#tab_box01').click();}catch(e){}
		}
		
		openPopup();
		waterpipePrint();
		
		setDatepicker();
		$(document).on('focus',".datepicker", setDatepicker);
		
		
		/// 각각의 화면에 정의한 초기화함수를 호출한다..
		try{
			currentInitialize();		
		}catch(e){};
	});
	
	
	


	// 시설물 대장검색 geom 추가 : yhhwang
	function editWaterPipe(layerNm, ftrCde, ftrIdn){
		opener.editWaterPipe(layerNm, ftrCde, ftrIdn);
		window.close();
	}
	/* GIS등록 */
	function addLocation () {
		//opener.allBtnInactive();
		opener.drawFeature();
		$("#edit_save").hide();
	}
	

	var selfRefresh = function(param) {
		var _tab = "";
		if(param !== undefined) {
			_tab = param;
		}
		var _location = location.href;
		if(_location.indexOf("#")) {
			_location = _location.split("#")[0];
		}
		
		if(_tab!="") {
			location.href=_location+_tab;
			location.reload();
		}else {
			location.href=_location;
		}
	}
	
	var gfn_also = function(){
		alert("gfn_also");
	}

	
</script>
